:root {
    padding: 12px;
}

#duplicate-button {
    margin-bottom: 12px;
}

#generate-button {
    margin-top: 24px;
    font-size: 14px;
}

#Error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}
