:root {
	padding: 12px;
	white-space: normal;
}

.boxes {
	padding: 6px;
	margin-bottom: 6px;
}

.title {
	-unity-font-style: bold;
	white-space: normal;
}

.backupwarn {
	-unity-font-style: bold;
	white-space: normal;
	color: yellow;
	margin-bottom: 6px;
}

#error {
	margin: 6px;
	color: red;
	white-space: normal;
}

#warning {
	margin: 6px;
	color: yellow;
	white-space: normal;
}